@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
    background-image: asset-url('Blockhead-TheMusicScene-1.jpg');
    background-size: cover;
    height: 500px;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.jumbotron p {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}
